@import './variables.css';
@import './classes.css';

@font-face {
	font-family: 'volta_modern_display_65_medium';
	src: url('../fonts/volta_modern_display_65_medium.otf');
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}

input {
	text-transform: uppercase;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .cover-image {
	width: auto;
	height: 100vh;
}

.reiniciar {
	position: absolute;
	width: 16.8%;
	height: 9.8%;
	left: 8.6%;
	top: 80.7%;
	z-index: 10;
	cursor: pointer;
}

.enviar {
	position: absolute;
	width: 16.8%;
	height: 9.8%;
	right: 6.1%;
	top: 80.7%;
	z-index: 10;
	cursor: pointer;
}

.styled-input1 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 8.6%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input2 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 13.4%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input3 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 18.4%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input4 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 28.2%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input5 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 33.1%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input6 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 38%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input7 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 42.8%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input8 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 47.8%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input9 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 52.6%;
	top: 46.9%;
	z-index: 10;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input10 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 57.5%;
	top: 46.9%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input11 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 62.4%;
	top: 46.9%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input12 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 67.3%;
	top: 46.9%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input13 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 72.2%;
	top: 46.9%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input14 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 77.1%;
	top: 46.9%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input15 {
	position: absolute;
	width: 4.1%;
	height: 9.1%;
	border-radius: 16%;
	left: 82%;
	top: 46.9%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input16 {
	position: absolute;
	width: 4.1%;
    height: 9.2%;
    border-radius: 16%;
    right: 9%;
    top: 46.9%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
	z-index: 1;
}

.styled-input17 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 14.2%;
	top: 65.5%;
	z-index: 1;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input18 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 14.2%;
	top: 65.5%;
	z-index: 1;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input19 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 14.2%;
	top: 65.5%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input20 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 19.8%;
	top: 65.5%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input21 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 25.4%;
	top: 65.5%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input22 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 30.9%;
	top: 65.5%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input23 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 36.5%;
	top: 65.5%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input24 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 42.1%;
	top: 65.5%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input25 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 47.7%;
	top: 65.5%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

.styled-input26 {
	position: absolute;
	width: 4.6%;
	height: 10.4%;
	border-radius: 16%;
	left: 53.3%;
	top: 65.5%;
	border: 1.6px solid #3c7dae;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 400%;
	color: #5bc52e;
	font-family: 'volta_modern_display_65_medium';
}

/* Responsive */
@media (max-width: 1365px) and (min-height: 768px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: auto;
		height: 100vh;
	}
}

@media (max-height: 767px) {
	.container {
		width: auto;
		height: 100vh;
	}
}

@media (min-height: 625px) and (max-height: 1280px) and (max-width: 1024px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}

@media (max-height: 624px) and (max-width: 767px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}

	.styled-input {
		width: 87%;
		height: 93%;
		left: -4.4%;
		top: -2.3%;
	}
}
