@import './variables.css';
@import './classes.css';

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--black-color);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .cover-image {
	width: auto;
	height: 100vh;
}

.boton-home {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 4%;
	right: 2%;
}

.boton-atras {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	left: 2%;
}

.boton-next {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	right: 2%;
}

/* modal  */
.openModal {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 10.5%;
	height: 18.9%;
	left: 31.8%;
	top: 31%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 10%;
	right: 7%;
	cursor: pointer;
}

/* modal  */
.openModal1 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 10.5%;
	height: 18.9%;
	left: 46.8%;
	top: 31%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal1 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal1 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 10%;
	right: 7%;
	cursor: pointer;
}

/* modal  */
.openModal2 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 10.5%;
	height: 18.9%;
	left: 61.6%;
	top: 31%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal2 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal2 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 10%;
	right: 7%;
	cursor: pointer;
}

/* modal  */
.openModal3 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 10.5%;
	height: 18.9%;
	right: 13%;
	top: 31%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal3 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal3 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 10%;
	right: 7%;
	cursor: pointer;
}

/* modal  */
.openModal4 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 10.5%;
	height: 18.9%;
	left: 31.7%;
    top: 60.8%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal4 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal4 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 10%;
	right: 7%;
	cursor: pointer;
}

/* modal  */
.openModal5 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 10.5%;
	height: 18.9%;
	left: 46.6%;
    top: 60.8%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal5 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal5 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 10%;
	right: 7%;
	cursor: pointer;
}

/* modal  */
.openModal6 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 10.5%;
	height: 18.9%;
	left: 61.5%;
    top: 60.8%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal6 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal6 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 10%;
	right: 7%;
	cursor: pointer;
}

/* modal  */
.openModal7 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 10.5%;
	height: 18.9%;
	left: 76.5%;
    top: 61%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal7 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal7 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 10%;
	right: 7%;
	cursor: pointer;
}

.boton-play {
	position: absolute;
	width: 10.4%;
	top: 31.2%;
	left: 31.8%;
}

.boton-play img {
	width: 100%;
	height: 100%;
}

.boton-play2 {
	position: absolute;
	width: 10.4%;
	top: 31.2%;
	left: 46.8%;
}

.boton-play2 img {
	width: 100%;
	height: 100%;
}

.boton-play3 {
	position: absolute;
	width: 10.4%;
	top: 31.2%;
	left: 61.8%;
}

.boton-play3 img {
	width: 100%;
	height: 100%;
}

.boton-play4 {
	position: absolute;
	width: 10.4%;
	top: 31.2%;
	left: 76.8%;
}

.boton-play4 img {
	width: 100%;
	height: 100%;
}

.boton-play5 {
	position: absolute;
	width: 10.4%;
	top: 62.9%;
	left: 39.2%;
}

.boton-play5 img {
	width: 100%;
	height: 100%;
}

.boton-play6 {
	position: absolute;
	width: 10.4%;
	top: 62.9%;
	left: 54.2%;
}

.boton-play6 img {
	width: 100%;
	height: 100%;
}

.boton-play7 {
	position: absolute;
	width: 10.4%;
	top: 62.9%;
	left: 69.2%;
}

.boton-play7 img {
	width: 100%;
	height: 100%;
}

.boton-play8 {
	position: absolute;
	width: 10.4%;
	top: 62.9%;
	left: 69.2%;
}

.boton-play8 img {
	width: 100%;
	height: 100%;
}

.circle {
	width: 10%;
    height: 18%;
    position: absolute;
    top: 50.6%;
    left: 43%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle1 {
	width: 10%;
    height: 18%;
    position: absolute;
    top: 50.9%;
    left: 58%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle2 {
	width: 10%;
    height: 18%;
    position: absolute;
    top: 50.8%;
    left: 72.9%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle3 {
	width: 10%;
    height: 18%;
    position: absolute;
    top: 50.8%;
    left: 87.9%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle4 {
	width: 11%;
	height: 19%;
	position: absolute;
	top: 50.6%;
	left: 87.3%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle5 {
	width: 10%;
    height: 18%;
    position: absolute;
    top: 80.9%;
    left: 43%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle6 {
	width: 10%;
    height: 18%;
    position: absolute;
    top: 80.9%;
    left: 57.9%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle7 {
	width: 10%;
    height: 18%;
    position: absolute;
    top: 81.1%;
    left: 72.9%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}


@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle8 {
	width: 10%;
    height: 18%;
    position: absolute;
    top: 81.1%;
    left: 87.9%;
	margin: -11% -11%;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgb(59 178 183) inset,
		0 0 20px 5px rgb(57 169 178) inset,
		0 5px 20px 5px rgba(0, 0, 255, 0.5) inset, 0 5px 20px 5px rgb(26 97 140),
		0 0 20px 5px rgb(255 255 255), 0 -5px 20px 5px rgb(40 157 186);
	/* animation: spin 4s infinite linear; */
}


@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}



.vutom-col {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	right: 3%;
	background: #ffffff80;
	border-radius: 90px;
}

/* Responsive */
@media (max-width: 1365px) and (min-height: 768px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: auto;
		height: 100vh;
	}
}

@media (max-height: 767px) {
	.container {
		width: auto;
		height: 100vh;
	}
}

@media (min-height: 625px) and (max-height: 1280px) and (max-width: 1024px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}

@media (max-height: 624px) and (max-width: 767px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}
